header {
    border: 3px solid pink;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    height: 150px;
    width: 80%;
}


.underScore {
    border: 3px solid pink;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    height: 150px;
    width: 80%;
}

.rightGuess {
    border: 3px solid pink;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    height: 150px;
    width: 80%;
}

.wrongGuess {
    border: 3px solid pink;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    height: 150px;
    width: 80%;
}
#guessWord {
    float: left;
    text-align: center;
};


.guessingWordContainer {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
};


.tryLetters {
    background-color: aliceblue;
    display: block;
    width: 100%;
    height: 50px;
};
